body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/*

Style our app according to the provided design!

green color -> #5f9341

*/


input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    height: 2.5em;
    border: 2px #5f9341 solid;
    margin-bottom: .25em
}

button {
    background: #5f9341;
    color: white;
    border: none;
    padding: .75em 1.6em;
    font-weight: bold
}
