/* Complete the CSS styling according to the provided design */

body {
    font-family: 'Trebuchet MS';
    background-image: url('./images/table.png');
    
    /* Styles for text */
    font-size: 1.5em;
    text-align: center;
    color: white;
    font-weight: bold;

    /* Scale the image nicely */
    background-size: cover;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}
